<div class="topbar">
  <a class="brand" href="${home_href}">Grafana Documentation</a>
  <div class="themebar">
    ${controls_html}
    <select id="font-select" aria-label="Font Size">
      <option value="0.9">Font: Compact</option>
      <option value="1">Font: Default</option>
      <option value="1.1">Font: Large</option>
      <option value="1.2">Font: Extra Large</option>
    </select>
    <select id="theme-select" aria-label="Theme">
      <option value="auto">Theme: Auto</option>
      <option value="light">Theme: Light</option>
      <option value="dark">Theme: Dark</option>
    </select>
  </div>
</div>
